body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  background: #343a40;
  padding: 10px 0;
}
.header__content {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.nav li {
  float: left;
  padding: 0 10px;
}
.nav li a {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  text-decoration: none;
  border-top: 4px solid transparent;
}
.nav li a:hover {
  color: #FFC955;
}
.nav li a.active {
  color: #FFC955;
  border-color: #FFC955;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.add-movie-form, .movie {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}

.add-movie-form input, .movie input {
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 2px;
  outline: none;
  font-size: 16px;
}
.add-movie-form input[type="text"],
.movie input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  border: 1px solid rgba(0,0,0,.12);
}
.add-movie-form input[type="button"],
.movie input[type="button"] {
  flex-basis: 100px;
  color: #fff;
  background: #42a5f5;
}

.movie input[type="button"] {
  background: #e57373;
}

.btn:active {
  box-shadow: none;
}
h3 {
  text-align: center;
}


